* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);

}

h2 {
  margin-bottom: 20px;
  color: #333;
}

form input {
  width: 15%;
  padding: 10px;
  display: grid;

  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

form input:focus {
  border-color: #667eea;
}

button {
  width: 15%;
  padding: 10px;
  background: #667eea;
  border: 1px white solid;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #5a67d8;
}